@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh; /* 100% da altura da viewport */
    width: 100vw; /* 100% da largura da viewport */
    background-color: black;
}

body {
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover; /* Cobre toda a área visível */
    background-attachment: fixed; /* Fixa a imagem de fundo durante a rolagem */
}

main {
    position: relative;
    height: 100vh;
    position: relative;
}

section#telefone {
    position: absolute;
    top: 50%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Centraliza o elemento */

    height: 627px;
    width: 311px;
    background: url('../imagens/frame-iphone.png') no-repeat;
}

iframe#tela {
    position: relative; /* Mantém o iframe dentro do frame do telefone */
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;
}